body {
  font-size: 1rem;
}

.hidden {
  display: none !important;
}

.container {
  min-width: 600px;
  padding: 1rem;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-half {
  width: 50%;
}

.col-full {
  width: 100%;
}

.col-30 {
  width: 100%;
}

.col-70 {
  width: 100%;
}

.col-50 {
  width: 100%;
}

.nav-items {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
}

.drawer-sandwich {
  display: flex;
  align-items: center;
  justify-content: end;
}

.drawer-navs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  flex-wrap: nowrap;
}

.drawer-menu-header {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.drawer-nav-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drawer-user-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create {
  display: flex;
}

.canvas-and-tools {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submission-form {
  display: flex;
  flex-direction: column;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

canvas {
  width: 500px;
}

.button-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-flex-edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tool-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.art-tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.art-sliders {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#opacity {
  width: 18rem;
}

#size {
  width: 18rem;
}

.art-slider-div {
  display: flex;
}

.dash-toggle-div {
  display: flex;
  align-items: center;
}

.timer-div {
  display: flex;
  justify-content: center;
}

.user-link {
  display: flex;
  align-items: center;
}

.date-favorite-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.doodle-info {
  padding: 1rem 2.5rem;
}

.date-pickers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs {
  display: flex;
  justify-content: center;
}

.user-link-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pfp {
  position: relative;
  display: flex;
  justify-content: center;
}

.file-upload {
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bio-settings {
  display: flex;
}

.homepage-button-div {
  display: flex;
  justify-content: center;
}

.homepage-intro {
  position: absolute;
  max-width: 50rem;
  padding: 2rem;
  background: rgba(85, 85, 85, 0.3);
  border-radius: 0.5rem;
  backdrop-filter: blur(2px);
  box-shadow: 0 4px 40px 20px rgba(0, 0, 0, 0.25);
  left: 3rem;
  transform: rotate(-5deg);
}

.homepage-image-div {
  min-width: 30rem;
  border-radius: 0.5rem;
  transform: rotate(5deg);
  position: absolute;
  top: 20rem;
  margin-left: 5rem;
  z-index: -1;
  box-shadow: 0 4px 40px 20px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 640px) {
  .container {
    max-width: 730px;
  }

  canvas {
    width: 600px;
  }

  .doodle-info {
    padding: 1rem 3.5rem;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.1rem;
  }

  .container {
    max-width: 900px;
  }

  .nav-items {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .drawer-sandwich {
    display: none;
  }

  canvas {
    width: 700px;
  }

  .doodle-info {
    padding: 1rem 5rem;
  }
}

.month-picker,
.year-picker,
.date-picker {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.drawing-card {
  display: flex;
  flex-direction: column;
}

.gallery-row {
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.4rem;
  }

  .container {
    min-width: 1300px;
    max-width: 1920px;
  }

  .col-30 {
    width: 30%;
  }

  .col-70 {
    width: 70%;
  }

  .col-50 {
    width: 50%;
  }

  .button-flex {
    justify-content: end;
    align-items: flex-end;
  }

  .button-flex-edit {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
  }

  .create {
    flex-direction: row;
  }

  canvas {
    width: 850px;
  }

  .submission-form {
    padding-left: 2.5;
    padding-right: 2.5rem;
  }

  .tool-picker {
    flex-direction: row;
    justify-content: space-between;
    max-width: 900px;
  }

  .art-tools {
    justify-content: flex-start;
    padding-right: 3rem;
    min-width: 410px;
  }

  .art-sliders {
    align-items: flex-end;
  }

  #opacity {
    width: 15rem;
  }

  #size {
    width: 15rem;
  }

  .doodle-info {
    padding: 0;
  }

  .date-pickers {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .gallery {
    justify-content: flex-start;
    max-width: 1474px;
  }

  .tabs {
    justify-content: flex-start;
  }

  .homepage-intro {
    left: 10rem;
  }

  .homepage-image-div {
    right: 3rem;
    width: 40rem;
  }
}
